body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*-------------------loader-----------------------*/



/*-------------------header CSS------------------*/
#header{
	height: 100vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('images/banner1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#particles-js{
	height: 100%;

}
.user-box{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.user-box img{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #6caed5;
}
.user-box h1{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}
.user-box p{
	color: #fff;

}
.scroll-btn{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border:  2px solid #fff;
	padding: 7px 10px 10px;
	border-radius: 30px;
}
.scroll-bar span{
	border: 2px solid #fff;
	font-size: 10px;
	border-radius: 30px;
}
.scroll-bar{
	animation: mover 1s infinite alternate;
}
@keyframes mover{
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}
/*-----------------about----------------------*/
.about{
	padding-top: 100px;
	margin-bottom: -130px;
}
.profile-img{
	height: 500px;
	border: 2px solid #000;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar{
	background-color: #000;
}
.navbar-brand img{
	height: 50px;
}
.nav-bar .fa-bars{
	color: #fff;
	font-size: 35px;
}
.navbar-toggler{
	outline: none !important;

}
.navbar-nav{
	float: right;
	text-align: right;
}
.nav-link{
	color: #fff !important;
}
.skills-bar p{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress{
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar{
	border-radius: 16px;
	background-color: #000 !important;
}
/*------------------------resume--------------------*/
.resume{
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #f9f9f9;
}
.resume h3{
	margin-bottom: 50px;

}
.timeline{
	list-style-type: none;
	position: relative;

}
.timeline::before{
	content: '';
	background-color: #555;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
	
}
.timeline li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #fff;
}
.timeline li h4{
	background-color: #000;
	padding: 5px 0 5px 20px;
	
	font-size: 15px;
	color: #fff;
}
.timeline li h4 span{
	font-weight: bold;
	color: #ccc;
}
.timeline li::before{
	content: '';
	background-color: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}
/*-----------------services ----------------------*/
.services{
	padding-top: 50px;
	padding-bottom: 50px;
}
.services h1{
	margin-bottom: 15px;
}
.service-box{
	padding: 20px;
	background-color: #f9f9f9;
	margin-top: 15px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.service-box .fa{
	margin: 0 10px;
	font-size: 25px;
}
.service-box span{
	margin: 13px;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
}
.service-box p{
	font-size: 15px;
	margin-top: 20px;
	color: #777;
}
.service-box:hover{
	background-color: #000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}
.service-box:hover p{
	color: #fff;
}
/*------------------contact--------------------*/
.contact{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('images/banner6.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	padding-top: 50px;
}
.contact .row{
	padding: 30px 0;
	font-size: 22px;
}
.contact .col-md-4 .fa{
	font-size: 40px;
	padding: 10px;
}
.contact .btn{
	padding: 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}
.contact .btn:focus{
	box-shadow: none !important;
}
.contact .btn:hover{
	border: 2px solid #000;
	background: #000;
	transition: .6s;
}
.contact .btn .fa{
	margin-right: 10px;
}
.footer{
	background: #000;
	color: #fff;
	margin-top: 50px;
	height: 50px;
	padding-top: 10px;
}
.footer .fa{
	color: red;
}
/*-------------------social icons----------------*/
.social-icons{
	top: 50%;
	position: sticky;
	transform: translateY(-50%);
	z-index: 1;
	width: 80px;
}
.social-icons ul{
	padding: initial;
}
.social-icons ul li{
	width: 40px;
	height: 40px;
	background-color: #000;
	color: #fff;
	padding-top: 6px;
	padding-left: 12px;
	list-style-type: none;
}
.social-icons ul li:hover{
	width: 80px;
	padding-left: 30px;
	transition: 1s;
}

@media (max-width: 576px) {
	.profile-img{
		margin-bottom: 20px;
		height: 300px;
		margin-top: -30px;
	}
	.social-icons{
		visibility: hidden;
	}
}